.qrcode-container {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 20px;
  border: 1px solid gray;
  background: white;
  z-index: 100000000;
  box-shadow: 10px 10px 61px -20px rgba(0,0,0,0.75);
  display: none;
}
