.qrcoder.qrcode-container {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 20px;
  border: 1px solid gray;
  background: white;
  z-index: 100000000;
  box-shadow: 10px 10px 61px -20px rgba(0,0,0,0.75);
  display: none;
}

.qrcoder .qrcode {
  text-align: center;
}

.qrcoder .qrcode img.error {
  width: 80px;
  margin-bottom: 10px;
}

.qrcoder .toolbar {
  text-align: center;
  border-bottom: 1px solid gray;
  margin-bottom: 12px;
}

.qrcoder .infobar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid gray;
  margin-top: 12px;
  padding-top: 8px;
  max-width: 260px;
}

.qrcoder .infobar img {
  width: 12px;
  margin-right: 6px;
}

.qrcoder .infobar span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.qrcoder .toolbar button {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  outline: none;
}

.qrcoder .toolbar img {
  width: 16px;
  margin: 0 8px 8px 8px;
  cursor: pointer;
}