.qrcoder.qrcode-overlay {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 99999999;
  display: none;
}

.qrcoder.qrcode-container {
  position: fixed;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 4px;
  background: white;
  z-index: 100000000;
  box-shadow: 20px 20px 60px -20px rgba(0,0,0,0.75);
  display: none;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  user-select: none;
  transition: 0.4s ease-in-out;
}

.qrcoder .qrcode {
  text-align: center;
}

.qrcoder .qrcode img.qrcoder-error {
  width: 80px;
  margin-bottom: 10px;
}

.qrcoder .qrcode span.qrcoder-error {
  font-style: italic;
}

.qrcoder .qrcoder-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
  margin-bottom: 12px;
}

.qrcoder .qrcoder-infobar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 260px;
}

.qrcoder .qrcoder-infobar:not(:empty) {
  border-top: 1px solid gray;
  margin-top: 12px;
  padding-top: 8px;
}

.qrcoder .qrcoder-infobar img {
  width: 12px;
  margin-right: 6px;
}

.qrcoder .qrcoder-infobar span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.qrcoder .qrcoder-toolbar div.qrcoder-info {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.qrcoder .qrcoder-toolbar img.qrcoder-logo {
  width: 16px;
  margin-right: 6px;
}

.qrcoder .qrcoder-toolbar button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  margin: 4px;
  cursor: pointer;
  border: none;
  background: transparent;
  outline: none;
  box-shadow: none;
}

.qrcoder .qrcoder-toolbar button:hover,
.qrcoder .qrcoder-toolbar button:focus,
.qrcoder .qrcoder-toolbar button:active {
  border: none;
  background: #74b9ff;
  outline: none;
  box-shadow: none;
}


.qrcoder .qrcoder-toolbar button img {
  width: 16px;
}
