.qrcoder.qrcode-overlay {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 99999999;
  display: none;
}

.qrcoder.qrcode-container {
  position: fixed;
  padding: 20px;
  border: 1px solid gray;
  background: white;
  z-index: 100000000;
  box-shadow: 10px 10px 61px -20px rgba(0,0,0,0.75);
  display: none;
}

.qrcoder .qrcode {
  text-align: center;
}

.qrcoder .qrcode img.qrcoder-error {
  width: 80px;
  margin-bottom: 10px;
}

.qrcoder .qrcode span.qrcoder-error {
  font-size: 12px;
  font-style: italic;
}

.qrcoder .qrcoder-toolbar {
  text-align: center;
  border-bottom: 1px solid gray;
  margin-bottom: 12px;
}

.qrcoder .qrcoder-infobar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 260px;
}

.qrcoder .qrcoder-infobar:not(:empty) {
  border-top: 1px solid gray;
  margin-top: 12px;
  padding-top: 8px;
}

.qrcoder .qrcoder-infobar img {
  width: 12px;
  margin-right: 6px;
}

.qrcoder .qrcoder-infobar span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.qrcoder .qrcoder-toolbar button {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  outline: none;
}

.qrcoder .qrcoder-toolbar img {
  width: 16px;
  margin: 0 8px 8px 8px;
  cursor: pointer;
}
